body{
    font-family: 'Barlow Condensed', sans-serif;
font-family: 'Bebas Neue', cursive;
font-family: 'Lobster', cursive;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
}
